# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/docs/videos-before/
/docs/优化/
/docs/5090测试.docx
/docs/_e_fig3.jpeg
/docs/Deploy MiniMax-H3 with Sol Engine_ 3.95× Acceleration in 4.5 Hours _ NVIDIA.html
/docs/prompts.txt
/docs/framework.png
